/* Universal Styles */

body {
  margin: 0;
  font-family: "Georgia", serif;
  font-size: 17px;
  color: black;
}

a {
  color: black;
  margin-left: 15px;
}
  /* header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  border: solid 1px #000000;
}

.logo img{
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: mediumaquamarine;
}

header nav {
  padding-right: 40px;
}

.image-content {
  height: 300px;
  border: solid 1px #000000;
}


/* Main Content Container */

.content {
  display: flex;
  width: 1232px;
  padding-top: 120px;
  margin: 0 auto 78px auto;
  border: solid 1px #000000;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
  border: solid 2px #000000;
}


.Mother  {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  font-size: 40px;

}

.Mother .Research .Cats span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.earth {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");

  text-align: center;
}



.Research {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  height: 300px;
  text-align: center;
}

.earth span{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.Cats {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");

  text-align: center;
}



.text-content{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
  border: solid 1px #000000;
}

.stories {
  border: solid 1px #000000;
}

.story {
  border: solid 1px #000000;
}

.news-bites {
  border: solid 1px #000000;
}
